@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

p[epub|type~="z3998:signature"]{
	text-align: right;
	margin-top: 1em;
}

p[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	font-style: italic;
	text-indent: 0;
}

.inscription{
	text-align: center;
	font-variant: small-caps;
}

#chapter-24 blockquote p,
.inscription p{
	text-indent: 0;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}
