@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.name{
	white-space: nowrap;
}

b,
.signature{
	font-weight: normal;
	font-variant: small-caps;
}

p.signature{
	text-align: right;
	margin-top: 1em;
}

p.postscript{
	margin-top: 1em;
	font-style: italic;
	text-indent: 0;
}

.inscription{
	text-align: center;
	font-variant: small-caps;
}

.list p,
.inscription p{
	text-indent: 0;
}

section > header{
	text-align: center;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	margin: 0 auto 3em auto;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}
